button{
    padding: 3rem;
}

.red{
    background-color: orangered;
}

.yellow{
    background-color: yellow;
}

.green{
    background-color: greenyellow;
}

.blue{
    background-color: skyblue;
}
