*{
    background-color: lightgray;
}

button{
    border: none;
    box-sizing: border-box;
}

.click{
    padding: 2rem;
    border: 2px solid #414141;
    margin: 1.3rem;
    font-size: 1.5rem;
    cursor: pointer;
}

.reset{
    padding: 1.2rem;
    border: 2px solid #414141;
    cursor: pointer;
}
